<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<!--    <localRepository>E:/java/maven-repository</localRepository>-->
    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>


    <mirrors>
        <mirror>
            <id>mirror</id>
            <!-- 每一个*：表示所有的依赖都从里的仓库拉取-->
            <!-- 后面的，就是指从* 中排除，即其他的这些仓库可以到指定的仓库去拉取 -->
            <mirrorOf>*,!central,!suyh-mvn-central-release</mirrorOf>
            <name>mirror</name>
            <url>https://maven.aliyun.com/nexus/content/groups/public</url>
        </mirror>
    </mirrors>

    <servers>
    </servers>

    <profiles>
        <profile>
            <id>suyh-mvn</id>
            <properties>
                <altReleaseDeploymentRepository>
                    rdc-releases::default::https://packages.aliyun.com/maven/repository/2407338-release-wf8GjT/
                </altReleaseDeploymentRepository>
                <altSnapshotDeploymentRepository>
                    rdc-snapshots::default::https://packages.aliyun.com/maven/repository/2407338-snapshot-CclwV1/
                </altSnapshotDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>suyh-mvn-central-release</id>
                    <url>https://maven.aliyun.com/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <!--实时更新最新的快照依赖包-->
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>suyh-mvn-central-snapshots</id>
                    <url>https://maven.aliyun.com/nexus/content/groups/public</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://maven.aliyun.com/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <url>https://maven.aliyun.com/nexus/content/groups/public</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <!--这里似乎可以并列激活多个profile 生效-->
        <activeProfile>suyh-mvn</activeProfile>
    </activeProfiles>
</settings>
