<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyh5701.mapper.UuidMapper">
    <resultMap id="uuidVo" type="com.suyh5701.vo.UuidVo">
        <id column="service_name" jdbcType="VARCHAR" property="serviceName" javaType="java.lang.String" />

        <result column="sequence_number" jdbcType="INTEGER" property="sequenceNumber" javaType="java.lang.Integer" />
    </resultMap>

    <sql id="selectColumns">
        service_name, sequence_number
    </sql>

    <update id="updateByPrimaryKey">
        UPDATE uuid_t
        SET sequence_number = #{sequenceNumber, jdbcType = INTEGER},
            update_date = CURRENT_TIMESTAMP(3)
        where service_name = #{serviceName,jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryKey" resultMap="uuidVo">
        select <include refid="selectColumns"/>
        from uuid_t
        where service_name = #{serviceName,jdbcType=VARCHAR}
    </select>
</mapper>
