<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 自定义的Realm -->
    <bean id="userRealm" class="com.suyh.UserRealm01"/>

    <!-- 配置securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

    <bean id = "shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 配置 securityManager -->
        <property name="securityManager" ref="securityManager" />

        <!-- 登录地址URL，如果不配置。则默认情况下会中转到: "/login.jsp" -->
        <!-- 当访问需要认证的资源时,如果没有认证，会自动跳转到该URL -->
        <property name="loginUrl" value="/login"></property>

        <!-- 配置认证成功后跳转到哪个URL 上，通常不配置。如果不配置，那么默认认证成功后跳转到上一个URL -->
        <!-- <property name="successUrl" value="/index" /> -->

        <!-- 配置用户没有权限访问资源时跳转的页面 -->
        <property name="unauthorizedUrl" value="/refuse"/>

        <!-- 配置shiro 的过滤器链 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- anon 匿名访问 -->
                /toLogin=anon
                <!-- authc 需要认证 -->
                /login=authc
                /logout=logout

                <!-- 静态资源放行 -->
                /js/**=anon
                /css/**=anon
                /images/**=anon

                <!-- 其他全部要认证 -->
                /**=authc
            </value>
        </property>
    </bean>

</beans>